.feedback
    padding: 94px 0
    background: url('../img/feedback/feedback-bg.jpg') no-repeat center right 
.form
    max-width: 575px
    &__title
        +bold
        font-size: 24px
        line-height: 35px
        margin-bottom: 49px
    &__subtitle
        display: block
        margin-bottom: 50px
    &__input
        min-width: 270px
        margin-bottom: 30px
        &:first-child
            margin-right: 30px
    &__button
        padding: 28px
        display: block
        width: 100%
        font-size: 16px
        margin-bottom: 30px
    &__call
        max-width: 235px
        display: inline-block
        font-size: 15px
        line-height: 24px
    &__tel
        +bold
        display: block
    &__img
        margin-left: 78px
        margin-right: 20px
